doctype 5
html(lang="en")
    head
        title= title
        meta(charset="utf-8")
        meta(name="robots", content="noindex, nofollow")
        script(type="text/javascript", src="/javascripts/raphael-min.js")
        script(type="text/javascript", src="/javascripts/shadow.js")
        script(type="text/javascript", src="/javascripts/jquery.min.js")
        != js("constants.js")
        != js("nonogram.js")
        != js("board.js")
        //- Controller-level scripts
        each script in scripts 
            != js(script)
        //- Controller-level css
        each stylesheet in stylesheets 
            != css(stylesheet)
    body!= body
